body{
	padding: 0;
	background: aqua;
}

.app_box {
	position: absolute;
	width: 66px;
	height: 66px;
	background: blue;
	border: 1px solid black;
	line-height: 64px;
	text-align: center;
	font-size: 32px;
	font-weight: bolder;
	color: red;
}

.bg_white {
	background: white;
}

.btn {
	float: left;
	width: 100px;
	height: 48px;
	background: white;
	line-height: 48px;
	font-size: 24px;
	margin: 0 0 0 5px;
}
.btn:active {
	background: red;
}

#control_btn {
	width: 500px;
	height: 48px;
	bottom: 0;
	right: 48px;
	position: fixed;
	background: green;
	text-align: center;
}

#show_btn {
	width: 48px;
	height: 48px;
	background: white;
	line-height: 48px;
	font-size: 24px;
	bottom: 0;
	right: 0;
	position: fixed;
}

#line_canvas{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	
}

#app_box_div {
	width: 1024px;
	height: 700px;
	top: 0;
	left: 0;
	position: fixed;
}

#log_list{
	width: 300px;
	height: 300px;
	top: 0;
	left: 0;
	position: fixed;
	margin: 0;
	padding: 0;
}
#log_list li {
	color: white;
	list-style: none;
	overflow: auto;
	border-bottom: dashed 1px white;
}
